<div class="proEdit privacyWrap">
  <h2 class="withLine"><span>Control panel setting for points</span></h2>

  <div class="">
    <div class="row justify-content-center">
      <div class="col-lg-7">

        <div class="formTable">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>#</th>
                <th class="text-right">Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle">Courses</td>
                <td class="text-right"><input type="number" name="" min="1" value="0"></td>
              </tr>
              <tr>
                <td class="align-middle">Daily Meal</td>
                <td class="text-right"><input type="number" name="" min="1" value="0"></td>
              </tr>
              <tr>
                <td class="align-middle">CV Update</td>
                <td class="text-right"><input type="number" name="" min="1" value="0"></td>
              </tr>
              <tr>
                <td class="align-middle">Profile Update</td>
                <td class="text-right"><input type="number" name="" min="1" value="0"></td>
              </tr>
              <tr>
                <td class="align-middle">Recommendation</td>
                <td class="text-right"><input type="number" name="" min="1" value="0"></td>
              </tr>
              <tr>
                <td class="align-middle">Connections</td>
                <td class="text-right"><input type="number" name="" min="1" value="0"></td>
              </tr>
              <tr>
                <td class="align-middle">Share</td>
                <td class="text-right"><input type="number" name="" min="1" value="0"></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>
