.proEdit{ padding: 60px 0 60px 0;
  .nav{ display: block; border: none !important; text-align: center;
    li{ display: inline-block !important;
      &:first-child{ border-left: 0;
       a:before{ display: none;}
      }
      a{ border: none !important; border-radius: 0; font-size: 13px; color: #1E272E !important; font-weight: 700; padding: 4px 20px; position: relative;
        .fa{ margin-right: 8px;}
        &:after{ content: ''; width: 100%; height: 2px; background: #4C4C4C; position: absolute; left: 0; bottom: -10px;}
        &:before{ content: ''; width: 1px; height: 100%; left: 0; top: 0; position: absolute; background: rgba(0,0,0,0.3);}
        &.active{ background: none; border: none; color: #4AC200 !important;
          &:after{ background: #4AC200;}
        }
        &:hover{ background: none; border: none;}
      }
    }
  }
  .tab-content{ padding: 45px 0 0 0;}
  .formWrap{ margin-bottom: 30px; position: relative;
    label{ font-size: 16px; color: #1E272E; margin: 10px 8px 0 0; vertical-align: top;
     &.noGap{ margin-right: 0;}
     small{ color: #FF6666; font-size: 70%;}
    }
    .inpField{ background: #F5F6FA; border: none; width: 156px; padding: 11px 10px; font-size: 16px; color: #1E272E; vertical-align: top;}

    textarea.inpField{ min-height: 110px;}
    select.inpField{ -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; background: url(assets/images/select-arrow.png) top 13px right 13px no-repeat #F5F6FA; padding-right: 30px;}
    .autoWidth{ width: auto;}
    .withSpace{ margin-right: 10px;}
    .largeWidth{ width: 350px;}
    .fullWidth{ width: 100%;}
    .withBdr{ border: 1px solid #999999;}
    .noBg{ background: none;}
    .vertTop{ vertical-align: top;}
    .cvcInp{ max-width: 90px;}
    input.inpField::-webkit-input-placeholder {opacity:1; color: #808080;}
    input.inpField:-moz-placeholder{opacity:1; color: #808080;}
    input.inpField::-moz-placeholder{opacity:1; color: #808080;}
    input.inpField:-ms-input-placeholder{opacity:1; color: #808080;}

    textarea.inpField::-webkit-input-placeholder {opacity:1; color: #808080;}
    textarea.inpField:-moz-placeholder{opacity:1; color: #808080;}
    textarea.inpField::-moz-placeholder{opacity:1; color: #808080;}
    textarea.inpField:-ms-input-placeholder{opacity:1; color: #808080;}

    .alert.alert-danger{ position: absolute; width: auto; left: 0; bottom: 100%; padding: 2px 15px; margin: 0; font-size: 11px; border-radius: 2px; border: none; min-width: 140px; z-index: 1;
      &:after{ content: ''; position: absolute; left: 5px; bottom: -5px; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #f8d7da;}
    }
    .formSpan{ display: inline-block; position: relative; padding: 0;}
    .formSpanFull{ display: block;}
    &.mergTop{ margin-top: 30px;}
  }
  .addField{margin: 30px 0 0 0;
    button{ border: none; font-size: 12px; background: #1E272E; color: #FFF; text-transform: uppercase; padding: 4px 25px; cursor: pointer;}
  }
  .formTable{ margin: 50px 0 0 0;
    table{ margin: 0;
      tr:nth-child(odd) td{ background: none;}
      th{ font-size: 16px; color: #1E272E; font-weight: 400; background: #B2E1C4; padding:4px 12px;}
      td{ font-size: 12px; color: #1E272E; padding:8px 12px; background: #FFF;}
      a{ color: #1E272E;
        .fa{ font-size: 15px; margin: 0 6px;}
      }
    }
  }
  .formSocial{ overflow: hidden; margin: 60px 0 0 0;
    h2{ font-size: 17px; color: #1E272E;}
    li{ width: 50%; float: left; margin: 22px 0 0 0; font-size: 13px; color: #808080; padding: 0 0 0 15px;
      .fa{ font-size: 17px; color: #1E272E;}
      input[type="text"]{ border: none; border-bottom: 1px solid #d0d0d0; background: none; padding: 0 0 0 5px; font-size: 13px; color: #808080;}
    }
  }
  .buttonGr{ margin: 90px 0 0 0; display: block; width: 100%;
    .btnGreen{ border: none; font-size: 16px; color: #EEF2FF; text-transform: uppercase; padding: 4px 25px; cursor: pointer; @include box-shadow(4px, 4px, 8px, rgba(0, 0, 5px, 0.1));
      background: #84ce0d;
      background: -moz-linear-gradient(left, #84ce0d 0%, #4ac200 100%);
      background: -webkit-linear-gradient(left, #84ce0d 0%,#4ac200 100%);
      background: linear-gradient(to right, #84ce0d 0%,#4ac200 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84ce0d', endColorstr='#4ac200',GradientType=1 );
    }
    .btnOrange{ background: #FF6666; margin-right: 12px; border: none; font-size: 16px; color: #EEF2FF; text-transform: uppercase; padding: 4px 25px; cursor: pointer; @include box-shadow(4px, 4px, 8px, rgba(0, 0, 5px, 0.1));}
    .btnWhite{ background: #FFF; font-size: 15px; color: #1E272E; padding: 4px 25px; padding-right: 50px; @include box-shadow(4px, 4px, 8px, rgba(0, 0, 5px, 0.1)); position: relative; display: inline-block;
      &:after{ content: ''; width: 24px; height: 22px; position: absolute; right: 21px; top: 5px; background: url(assets/images/symbol-2.png) no-repeat; background-size: 100% auto;}
    }
  }
  .fileUpload{ display: inline-block;
   input[type="file"] {display: none;}
   .custom-file-upload { border: none; background: #1E272E; color: #FFF; font-size: 13px; padding: 6px 25px; cursor: pointer;}
   &.nobG{
     .custom-file-upload {background: none; border: 1px solid #1E272E; color: #1E272E;}
   }
   &.withMargin{ margin-top: 10px;}
  }

  .uploadPic{ display: inline-block; margin: 0 0 0 15px; 
    img{ width: 175px; height: 130px;}
  }
}

.editImage{
  .editImageMain{ width: 198px; height: 198px; background: transparent; border-radius: 5px; margin: 0 auto; margin-bottom: 22px; text-align: center; position: relative;
    img{ position: absolute; left: 0; top: 0; width: 198px; height: 198px; border-radius: 5px; border: 2px solid #4ac20a;}
  }
  .editImagePop{ font-size: 60px; padding: 55px 0; cursor: pointer;  background: #FFF;border-radius: 100%;
    .fa{ opacity: 0.2;}
  }
  button{ border: none; background: #1E272E; color: #FFF; font-size: 11px; color: #EEF2FF; padding: 5px 11px; cursor: pointer; margin: 0 5px; min-width: 55px; @include box-shadow(4px, 4px, 8px, rgba(0, 0, 5px, 0.1));
    &.remove{ background: #FF6666;}
    &:focus{ outline: none;}
  }
}


.customRadio { display: inline-block !important; position: relative; cursor: pointer; height: 3px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
  input { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;}
  input:checked ~ .checkmark {}
  .checkmark { position: absolute; top: 0; left: 0; height: 16px; width: 16px; border: 1px solid #1E272E; border-radius: 50%;}
  .checkmark:after { content: ""; position: absolute; display: none;}
  input:checked ~ .checkmark:after { display: block;}
  .checkmark:after { top: 2px; left: 2px; width: 10px; height: 10px; border-radius: 50%; background: #1E272E;}
}

.customCheck { padding: 0 0 0 26px !important; font-size: 13px !important; color: #808080 !important; display: inline-block !important; position: relative; cursor: pointer; height: 16px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
  input { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;}
  input:checked ~ .checkmark {}
  .checkmark { position: absolute; top: 0; left: 0; height: 16px; width: 16px; border: 1px solid #1E272E; background: #1E272E;}
  .checkmark:after { content: "\f00c"; position: absolute; display: none; font-size: 10px; top: 0; left: 2px;}
  input:checked ~ .checkmark:after { display: block;}
  .checkmark:after { font-family: FontAwesome; color: #FFF;}
  &.nobG{
    .checkmark{ background: none;}
    .checkmark:after{ color: #1E272E;}
  }
}

.diffRadio { margin-right: 12px; display: inline-block !important; position: relative; cursor: pointer; height: 42px; width: 119px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
  input { position: absolute; opacity: 0; cursor: pointer;}
  input:checked ~ .checkmark { border: 1px solid #707070;}
  .checkmark { position: absolute; top: 0; left: 0; height: 42px; width: 119px; border: 1px solid #F5F6FA; background: #F5F6FA;}
  .checkTxt{ position: absolute; width: 100%; left: 0; top: 9px; text-align: center; font-size: 16px; color: #1E272E;}
  input:checked ~ .checkTxt{ color: #33CC00;}
}

.DefaultModal{
  h2{ font-size: 20px; color: #1E272E; position: relative;
    &:after{ content: ''; width: 100%; height: 1px; background: #808080; position: absolute; left: 0; top: 13px;}
    span{ display: inline-block; background: #EEF2FF; padding-right: 15px; position: relative; z-index: 2;}
  }
  .modal-content{ background: #EEF2FF; padding: 25px; border: none; border-radius: 10px; @include box-shadow(4px, 4px, 8px, rgba(0, 0, 5px, 0.4));}
  .modal-body{ padding: 25px 0 0 0;
    &.noPad{ padding-top: 0;}
  }
  .modalClose{ display: inline-block; width: 28px; height: 28px; background: url(assets/images/close-modal.png) no-repeat; cursor: pointer; position: absolute; right: -14px; top: -14px;}
  .proEdit{ margin: 0 !important; padding: 0 !important;}
  .buttonGr{ margin: 0 !important;
    .btnOrange{ margin: 0; font-size: 12px; background: #F94151;}
    .btnGreen{ text-transform: none;}
  }
  .formWrap.alt{ margin-bottom: 12px;}
  .formWrap label{ margin: 0 0 5px 0 !important;}
  .txtOr{ margin-bottom: 12px;}
  .modal-header{ margin: -25px -25px 0 -25px; border: 1px solid #83ce0d; border-top-left-radius: 10px; border-top-right-radius: 10px;
    h4{ text-align: center; width: 100%; font-size: 20px; font-weight: 700; color: #82ce0d;}
    .modalClose{ background: url(assets/images/cross.png) no-repeat center center !important; right: 15px !important; top: 15px !important; }
  }
}

.imgCrop{
  .ng2-imgcrop{ display: block;}
  canvas{ float: right; background-color: #d0d4e0 !important; margin: -40px 0 0 0;}
  .cropDisp{ margin: 15px 0; padding: 8px; background: #d0d4e0; display: inline-block;}
}


.inpField{
  &.ng-select{ padding: 0 !important; background: none !important; min-width: 100px;
    .ng-select-container{ background: #F5F6FA; border: none; padding: 0 !important; font-size: 16px; color: #1E272E; border-radius: 0; height: 46px; outline: none !important; box-shadow: none !important; border: none !important;
      &:hover{ box-shadow: none !important;}
      .ng-value{ padding-right: 8px !important;}
      .ng-input{ top: 10px !important;}
    }
    .ng-dropdown-panel{ display: block; max-width: 100% !important; width: 100% !important; padding: 0 !important; background: none !important; margin: 0 !important;
      .ng-option{ padding-top: 5px !important; padding-bottom: 5px !important; font-size: 13px !important;
        &.ng-option-marked{ background-color: #B2E1C4 !important;}
      }
    }
    .ng-arrow-wrapper{ margin-top: -3px; margin-right: 8px;}
  }
}

.file-upload-all{ display: inline-block;
 input[type="file"] {display: none;}
 .custom-file-upload { border: none; background: #1E272E; color: #FFF; font-size: 13px; padding: 6px 25px; cursor: pointer;}
 &.nobG{
   .custom-file-upload {background: none; border: 1px solid #1E272E; color: #1E272E;}
 }
}

.cropSave{ border: none; background: #4AC200; color: #FFF; font-size: 13px; padding: 6px 25px; cursor: pointer; margin-left: 5px;}

.graphModal{ position: relative;
  .user-details{ position: absolute; left: 0; top: 0;
    li{ border: 1px solid #dcdcdc; margin: 0; padding: 0; font-size: 11px; color: #1E272E; margin-bottom: 4px;
     small{ display: inline-block; font-size: 11px; background: #1E272E; color: #FFF; padding:3px 15px 2px 15px; min-width: 68px; text-align: center;}
     span{ display: inline-block; padding:3px 15px 2px 15px; text-align: center;}
    }
  }
}

.chart-actions{ position: absolute; right: 0; bottom: 0;
  li{ float: left; margin: 0 0 0 7px;
    a{ display: inline-block; width: 30px; height: 30px; border: 1px solid #1E272E; text-align: center; border-radius: 50%; color: #1E272E; font-size: 17px; text-align: center; line-height: 28px; cursor: pointer;
      &:hover{ background: #84CE0D; color: #FFF !important;}
    }
  }
}
