<div class="commonWrap">
  <h2 class="withLine"><span>{{ 'LANDING.RESET_PASSWORD' | translate }}</span></h2>
  <div class="">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="reset-password-container">

          <div class="">
            <form class="form-horizontal" [formGroup]="passwordForm" (submit)="passwordAction()" novalidate>
              <div class="alert alert-success" *ngIf="successMessage">{{successMessage}}</div>
              <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
              <div class="alert alert-danger" *ngIf="passwordForm.hasError('notSame')">
                {{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD_MISMATCH'| translate }}</div>

              <div class="formWrap">
                <label for="password">{{'CHANGE_PASSWORD.NEWPASSWORD' | translate}} <small><i
                      class="fa fa-asterisk landing-req-sign" aria-hidden="true"></i></small>:</label>
                <input class="txtField" type="password" name="password" id="password" formControlName="password"
                  placeholder="{{'CHANGE_PASSWORD.NEWPASSWORD' | translate}}" required>
                <div
                  *ngIf="passwordForm.controls['password'].invalid && (passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="passwordForm.controls['password'].errors.required">
                    {{ 'CHANGE_PASSWORD.NEW_PASSWORD_REQUIRED' | translate }}</div>
                  <div *ngIf="passwordForm.controls['password'].hasError('whitespace')">
                    {{ 'LANDING.INVALID'| translate }}</div>
                    <div *ngIf="passwordForm.controls['password'].errors.pattern">
                      {{ 'LANDING.PASSWORD_PATTERN'| translate }}</div>
                    
                </div>
              </div>

              <div class="formWrap">
                <label for="confirm_password">{{'CHANGE_PASSWORD.CONFIRMPASSWORD' | translate}} <small><i
                      class="fa fa-asterisk landing-req-sign" aria-hidden="true"></i></small>:</label>
                <input class="txtField" type="password" name="confirm_password" id="confirm_password"
                  formControlName="confirm_password" placeholder="{{'CHANGE_PASSWORD.CONFIRMPASSWORD' | translate}}" required>
                <div
                  *ngIf="passwordForm.controls['confirm_password'].invalid && (passwordForm.controls['confirm_password'].dirty || passwordForm.controls['confirm_password'].touched) "
                  class="alert alert-danger">
                  <div *ngIf="passwordForm.controls['confirm_password'].errors.required">
                    {{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD_REQUIRED' | translate }}</div>
                  <div *ngIf="passwordForm.controls['confirm_password'].hasError('whitespace')">
                    {{ 'LANDING.INVALID'| translate }}</div>
                    sss
                </div>
                
              </div>

              <div class="formWrap">

                <button class="btnGreen" type="submit" [disabled]="passwordForm.pristine || passwordForm.invalid">
                  <span *ngIf="loader.changePassword" class="loader-p"><i class="fa fa-cog fa-spin"></i></span>
                  {{'CHANGE_PASSWORD.SUBMIT' | translate}}</button>

              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
