<h2 class="withLine"><span>{{ 'CHANGE_PASSWORD.CHANGEPASSWORD' | translate }}</span></h2>

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="loginSearch">
            <div class="loginSearchLeft">

                <div class="forLogin">
                    <form class="form-horizontal" [formGroup]="passwordForm" (submit)="passwordAction()" novalidate>
                        <div class="alert alert-success" *ngIf="successMessage">{{successMessage}}</div>
                        <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
                        <div class="alert alert-danger" *ngIf="passwordForm.hasError('notSame')">
                            {{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD_MISMATCH'| translate }}</div>
                        <div class="formWrap">
                            <label for="email">{{ 'CHANGE_PASSWORD.OLDPASSWORD' | translate }} <small><i class="fa fa-asterisk landing-req-sign" aria-hidden="true"></i></small>:</label>

                            <input class="txtField" type="password" name="oldpassword" id="oldpassword" formControlName="oldpassword" placeholder="{{ 'CHANGE_PASSWORD.OLDPASSWORD' | translate }}" required>

                            <div *ngIf="passwordForm.controls['oldpassword'].invalid && (passwordForm.controls['oldpassword'].dirty || passwordForm.controls['oldpassword'].touched)" class="alert alert-danger">
                                <div *ngIf="passwordForm.controls['oldpassword'].errors.required">{{ 'CHANGE_PASSWORD.OLD_PASSWORD_REQUIRED' | translate }}</div>
                                <div *ngIf="passwordForm.controls['oldpassword'].hasError('whitespace')">{{ 'LANDING.INVALID'| translate }}</div>
                            </div>

                        </div>

                        <div class="formWrap">
                            <label for="email">{{'CHANGE_PASSWORD.NEWPASSWORD' | translate}} <small><i class="fa fa-asterisk landing-req-sign" aria-hidden="true"></i></small>:</label>
                            <input class="txtField" type="password" name="password" id="password" formControlName="password" placeholder="{{'CHANGE_PASSWORD.NEWPASSWORD' | translate}}" required>
                            <div *ngIf="passwordForm.controls['password'].invalid && (passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched)" class="alert alert-danger">
                                <div *ngIf="passwordForm.controls['password'].errors.required">{{ 'CHANGE_PASSWORD.NEW_PASSWORD_REQUIRED' | translate }}</div>
                                 <div *ngIf="passwordForm.controls['password'].hasError('whitespace')">{{ 'LANDING.INVALID'| translate }}</div>
                                 <div *ngIf="passwordForm.controls['password'].errors.pattern">
                                    {{ 'LANDING.PASSWORD_PATTERN'| translate }}</div>
                            </div>
                        </div>

                        <div class="formWrap">
                            <label for="email">{{'CHANGE_PASSWORD.CONFIRMPASSWORD' | translate}} <small><i class="fa fa-asterisk landing-req-sign" aria-hidden="true"></i></small>:</label>
                            <input class="txtField" type="password" name="confirm_password" id="confirm_password" formControlName="confirm_password" placeholder="{{'CHANGE_PASSWORD.CONFIRMPASSWORD' | translate}}" required>
                            <div *ngIf="passwordForm.controls['confirm_password'].invalid && (passwordForm.controls['confirm_password'].dirty || passwordForm.controls['confirm_password'].touched)" class="alert alert-danger">
                                <div *ngIf="passwordForm.controls['confirm_password'].errors.required">{{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD_REQUIRED' | translate }}</div>
                                <div *ngIf="passwordForm.controls['confirm_password'].hasError('whitespace')">{{ 'LANDING.INVALID'| translate }}</div>
                            </div>
                        </div>

                        <div class="formWrap">

                            <button class="btnGreen" type="submit" [disabled]="passwordForm.pristine || passwordForm.invalid">
                            <span *ngIf="loader.changePassword" class="loader-p"><i class="fa fa-cog fa-spin" ></i></span>
                            {{'CHANGE_PASSWORD.SUBMIT' | translate}}</button>

                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>